meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title High Pass
link(rel="stylesheet" type="text/css" href="style.min.css")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" defer)
script(src="./lib/gsap.min.js")
script(src="./lib/just-validate.production.min.js")
script(src="./app.js" defer)
