$titleColor: #fff;
$textColor: #cacaca;
$backgroundColor: #202020;
$btnColor: #ff6e30;
$focusColor: #bc572b;
$activeColor: #ce4307;
$bgAnchorColor: #ffd4c1;
$inputColor: #4a4a4a;
$inputColorE9: #e9e9e9;
$hashColor: #333;
$dateColor: #999;
$copyColor: #666;
$mapHeight: 460px;
$errorColor: #ff3030;
@media (max-width: 576px) {
  $mapHeight: 472px;
}
