doctype html
html(lang="ru")
  head
    include ./templates/_head.pug
  body
    include ./templates/_header.pug
    main
      include ./templates/_hero.pug
      include ./templates/_about.pug
      include ./templates/_projects.pug
      include ./templates/_contacts.pug
  footer.footer
      include ./templates/_footer.pug
